*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-url: url(./assets/bg-mobile.jpg);
    --text-color: #FFF;

}

body {
    background: var(--bg-url) no-repeat top center/cover;
    height: 100vh;
  }

  
body * {
    font-family: "Inter", sans-serif;
    color: var(--text-color);
  }
  
  #container {
    border: 1px red solid;
    width: 100%;
    max-width: 588px;
    margin: 56px auto 0px;
    padding: 0 24px;
  }
  

  /* profile */
#profile {
    text-align: center;
    padding: 24px;
  }
  
  #profile img {
    width: 112px;
  }
  
  #profile p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
  }
  